* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  list-style: none;
  text-decoration: none;

  
}

/* Modes */
:root {  
  --text-color: white;
  --backgroud: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --bd-color: rgba(255, 255, 255, 0.10);
  --light-color: rgba(255, 255, 255, 0.05);
  --super-light-color: rgba(255, 255, 255, 0.01);
  --switch-background: url(./assets/moon-stars.svg);
  --position-switch: -5px;
  --position-button: auto;
}

.light {
  --text-color: black;
  --backgroud: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --bd-color: rgba(0, 0, 0, 0.10);
  --light-color: rgba(0, 0, 0, 0.05);
  --super-light-color: rgba(0, 0, 0, 0.03);
  --switch-background: url(./assets/sun.svg);
  --position-switch: -5px;
  --position-button: -1px;

}



/* Body */
body {
  background: var(--backgroud) no-repeat top center/cover;
  height: 100vh;
}

body * {
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0;
  padding: 24px;  

  background-color: var(--super-light-color);
  border-radius: 10px;
}

/* Profile */
#profile {
  text-align: center;
}

#profile img{
  width: 112px;
  border-radius: 50%;
}

#profile p{
  font-weight: 500;
  line-height: 24px;
}

/* Switch */
#switch {
  position: relative;
  display: flex;
  justify-content: center;

  margin-top: 24px;
}

#switch button{
  width: 32px;
  height: 32px;
  border: none;
  background: white var(--switch-background) no-repeat center;
  border-radius: 50%;  

  position: absolute;
  top: 50%;
  right: var(--position-button);
  transform: translateY(-50%);

  z-index: 100;
}

#switch span{
  display: block;
  width: 62px;
  height: 24px;
  background-color: var(--bd-color);
  border: solid 1px var(--stroke-color);
  border-radius: 50px;
  -webkit-backdrop-filter: blur(4px);

  position: relative;
}

/* Links */
ul {
  text-align: center;
  padding: 24px 0;
}

ul li {
  background-color: var(--bd-color);
  border: 1px solid var(--stroke-color);
  margin-top: 14px;
  border-radius: 8px;
  padding: 16px 24px;

  -webkit-backdrop-filter: blur(4px);
  font-weight: 500;

  transition: background 0.3s;
}

ul li:hover {
  background-color: var(--light-color);
  border: 1.5px solid var(--text-color);
}

/* Social Links */

#social-links {
  display: flex;
  justify-content: center;
  padding: 24px;
  font-size: 24px;
}

#social-links a{
  padding: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background .3s;
}


#social-links a:hover{
  background-color: var(--light-color);
}

footer{
  text-align: center;
  font-size: 14px;
}

@media (min-width: 700px){
  :root {
    --backgroud: url(./assets/bg-desktop.jpg);
  }

  .light {
    --backgroud: url(./assets/bg-desktop-light.jpg);
  }
}